{% extends 'notes/base.html' %}

{% block content %}
    <h1>Literatura</h1>

    <ul class="literature-list">
        <li>
            <a href="https://docs.djangoproject.com/en/stable/topics/forms/" target="_blank">Django - Working with forms</a>
            - forme za upload skripte i recenzije
        </li>
        <li>
            <a href="https://docs.djangoproject.com/en/stable/topics/auth/default/" target="_blank">Django - Authentication system</a>
            - registracija, prijava, odjava
        </li>
        <li>
            <a href="https://docs.djangoproject.com/en/stable/howto/csrf/" target="_blank">Django - CSRF protection</a>
            - CSRF token u AJAX zahtjevima
        </li>
        <li>
            <a href="https://www.django-rest-framework.org/api-guide/serializers/" target="_blank">Django REST Framework - Serializers</a>
            - pretvaranje modela u JSON
        </li>
        <li>
            <a href="https://www.django-rest-framework.org/api-guide/views/" target="_blank">Django REST Framework - Views</a>
            - izrada API endpointa
        </li>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch" target="_blank">MDN - Using the Fetch API</a>
            - AJAX pozivi prema vlastitom API-ju
        </li>
        <li>
            <a href="https://www.w3schools.com/css/css3_flexbox.asp" target="_blank">W3Schools - CSS Flexbox</a>
            - navigacija i raspored elemenata
        </li>
        <li>
            <a href="https://www.w3schools.com/css/css3_mediaqueries.asp" target="_blank">W3Schools - CSS Media Queries</a>
            - responzivni dizajn
        </li>
        <li>
            <a href="https://fonts.google.com/selection/embed" target="_blank">Google Fonts</a>
            - korišteni fontovi za tekst
        </li>
    </ul>
{% endblock %}